{% extends 'admin/panel.html.twig' %}

{% trans_default_domain "translations" %}

{% block title %}
    Quiz user-manager
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/admin/user-manager.css?v1.2") }}">
{% endblock %}

{% block content %}
    <div class="loader"></div>
    <nav class="user-header bg-color">
        <nav class="navbar navbar-light justify-content-between user-header ">
        </nav>
        <div class="container-fluid user-indent">
            <div class="col col-lg-12 user-creator user-header">
                {{ table|raw }}
            </div>
        </div>
    </nav>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset("static/scripts/admin/user_manager.js?v1.19") }}"></script>
{% endblock %}