{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset("static/styles/index.css") }}">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top header">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="nav navbar-nav">
                    <a class="nav-item nav-link" href="#">Home</a>
                    <a class="nav-item nav-link" href="#">Features</a>
                    <a class="nav-item nav-link" href="#">Pricing</a>
                    <a class="nav-item nav-link" href="#">Disabled</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="col-12 align-self-center question-handler">
                <div class="row">
                    {% for quiz in  pagination %}
                        <div class="col answer-wrapper hidden-xs display-table-cell  box panel" >
                            <div class="row ">
                                <div class="col"><h5>{{ quiz.name }}</h5></div> </div>
                            <div class="row">
                                <div class="col">question:{{ quiz.countOfQuestions }}</div></div>
                            <div class="row">
                                <div class="col">players:{{ quiz.countOfPlayers }} </div>
                            </div>
                            <div class="row">
                                <div class="col">leader:</div> </div></div>
                    {% endfor %}
                </div>
                <div class="navbar" >
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </main>
    <footer class="card-footer footer fixed-bottom">
        <div class="container">
            <span class="text-muted"></span>
        </div>
    </footer>
{% endblock %}

{% block stylesheets %}

{% endblock %}
