{% extends 'admin/panel.html.twig' %}

{% trans_default_domain "translations" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/admin/question.new.css?v1.68") }}">
{% endblock %}

{% block content %}
    <div class="loader"></div>
    <div class="container content">
        {% include "admin/question_create_form.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'translations' }) }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset("static/scripts/admin/question.js?v1.74") }}"></script>
    <script src="{{ asset("static/scripts/jquery-ui.min.js") }}"></script>
    <script src="{{ asset("static/scripts/admin/jquery.question.creator.js?v1.0") }}"></script>
{% endblock %}
