<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('QUIZ.png') }}" />
        <link rel="stylesheet" href="{{ asset("static/styles/admin/panel.css?v1.30") }}">
        <link rel="stylesheet" href="{{ asset("static/styles/navbar-fixed-side.css") }}">
        <link rel="stylesheet" href="{{ asset("static/styles/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ asset("static/styles/bootstrap-grid.min.css") }}">
        <script src="{{ asset("static/scripts/jquery-3.2.1.min.js") }}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-lg-2">
                    <nav class="navbar navbar-fixed-side navbar-inverse admin-navbar">
                        <div class="container navbar-content">
                            <div class="navbar-header">
                                <a class="navbar-brand">Admin panel</a>
                                <div class="navbar-collapse">
                                    <div class="nav navbar-nav">
                                        <li{% if app.request.get('_route') == 'quiz_creation' %} class="active"{% endif %}>
                                            <a class="nav-item nav-link" href="{{ path('quiz_creation') }}">Create quiz</a>
                                        </li>
                                        <li{% if app.request.get('_route') == 'question_creation' %} class="active"{% endif %}>
                                            <a class="nav-item nav-link" href="{{ path('question_creation') }}">Create question</a>
                                        </li>
                                        <li{% if app.request.get('_route') == 'user_manager' %} class="active"{% endif %}>
                                            <a class="nav-item nav-link" href="{{ path('user_manager') }}">User manager</a>
                                        </li>
                                        <li{% if app.request.get('_route') == 'quiz_manager' %} class="active"{% endif %}>
                                            <a class="nav-item nav-link" href="{{ path('quiz_manager') }}">Quiz manager</a>
                                        </li>
                                        <li>
                                            <a class="nav-item nav-link" href="{{ path("homepage") }}">Exit panel</a>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-sm-9 col-lg-10">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
    {% block javascripts %}
    {% endblock %}
</html>
