{% import _self as formPrototype %}

{% macro printPrototype(prototypeForm) %}
    <div class="answer-wrapper">
        {{ form_widget(prototypeForm.name, {"attr": {"autocomplete": "off"}}) }}
    </div>
{% endmacro %}

<div class="col-8 align-self-center question-creator">
        {{ form_start(form, { 'attr' : { 'id': 'form_question' } }) }}
        <div class="question-wrapper">
            <h2>Add Question:</h2>
            {{ form_widget(form.name) }}
        </div>
        <div class="answers">
            <h4>Answers:</h4>
            <div id="question_answers" data-prototype="{{formPrototype.printPrototype(form.answers.vars.prototype)|e("html_attr")}}"></div>

            {{ form_end(form) }}

            <button class="btn btn-large add-answer-btn">Add Answer</button>
        </div>
        <button class="btn btn-large add-question-btn">Create Question</button>

</div>