{% extends 'admin/panel.html.twig' %}

{% trans_default_domain "translations" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/admin/quiz.css?v1.23") }}">
    <link rel="stylesheet" href="{{ asset("static/styles/admin/question.new.css?v1.1") }}">
    <link rel="stylesheet" href="{{ asset("static/styles/jquery-ui.min.css") }}">
{% endblock %}

{% block content %}
    <div class="container content">
        <div class="col col-lg-12 quiz-handler">
            <div class="form-group quiz-creator ">
                <input type="hidden" id="csrf-input" value="{{ csrf_token("intention") }}">
                <h1 class="quiz-name">Quiz adding: </h1>
                <div class="quiz-header">
                    <input class="form-control quiz-name-input" placeholder="input quiz name">
                    <div class="quiz-errors"></div>
                </div>
                <div class="question-wrapper">
                    <div class="question-handler form-group">
                        <h3>Add exist questions: </h3>
                        <input class="form-control question-search" placeholder="type question">
                        <div class="errors">
                        </div>
                    </div>
                    <h2 class="question-label">Questions: </h2>
                    <ui class="questions">

                    </ui>
                    <p class="question-info">If you want to add answer click to button below or add exist question.</p>
                    <div class="question-creator-wrapper">
                        {% include "admin/question_create_form.html.twig" %}
                    </div>
                    <button class="btn btn-large add-question-button">Create Question</button>
                </div>
                <button class="btn btn-large create-quiz-btn">Create quiz</button>
            </div>
        </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset("static/scripts/jquery.newquestion.js?v1.81") }}"></script>
    <script src="{{ asset("static/scripts/jquery-ui.min.js") }}"></script>
    <script src="{{ asset("static/scripts/admin/quiz.js?v1.77") }}"></script>
{% endblock %}



