{% extends 'admin/panel.html.twig' %}

{% trans_default_domain "translations" %}

{% block title %}
    Quiz user-manager
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/admin/quiz.manager.css?v1.30") }}">
{% endblock %}

{% block content %}
    <main>
        <div class="loader"></div>
        <nav class="quiz-header bg-color">
            <div class="alert alert-danger error">
                <strong>{{ "message.error"|trans }}!</strong><div class="error-content"></div>
            </div>
            <div class="alert alert-success success">
                <strong>{{ "message.success"|trans }}</strong> {{ "message.success_action"|trans }}!
            </div>
            <div class="container-fluid quiz-indent">
                <div class="col col-lg-12 quiz-creator quiz-header">
                    {{ grid_loader_render(table) }}
                </div>
            </div>
        </nav>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'domain': 'translations' }) }}"></script>
    <script src="{{ asset("static/scripts/bootstrap.bundle.min.js") }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset("static/scripts/admin/quiz.manager.js?v1.0") }}"></script>
{% endblock %}