{% extends 'admin/panel.html.twig' %}

{% block stylesheets%}
    <link rel="stylesheet" href="{{ asset("static/styles/admin/quiz-manager.css") }}">
{% endblock %}

{% block content %}
    <nav class="quiz-header bg-color">
        <nav class="navbar navbar-light justify-content-between quiz-header">
            <form class="form-inline">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
        <div class="container-fluid quiz-indent">
            <div class="col col-lg-12 quiz-creator quiz-header">
                <table class="table table-inverse quiz-table">
                    <tbody>
                    <tr>
                        <th>Quiz name</th>
                        <th>Question</th>
                        <th>Players</th>
                        <th>Leader</th>
                        <td></td>
                    </tr>
                    {% for quiz in pagination %}
                        <tr>
                            <td class="quiz_td" scope="row">{{ quiz.name }}</td>
                            <td class="quiz_td" >{{ quiz.countOfQuestions }}</td>
                            <td class="quiz_td" >{{ quiz.countOfPlayers }}</td>
                            {% if quiz.leader == null %}
                                <td class="quiz_td">None</td>
                            {% else %}
                                <td class="quiz_td">{{ quiz.leader }}</td>
                            {% endif %}
                            <td class="quiz_td"><button type="button" class="btn btn-outline-danger button-size">Block</button></td>
                        </tr>
                    {% endfor%}
                    </tbody>
                </table>
            </div>
            <div class="navbar text-color" >
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </nav>
{% endblock %}