{% extends 'admin/panel.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/admin/user.css?v1.1") }}">
{% endblock %}

{% block content %}
    <div class="loader"></div>
    <nav class="user-header bg-color">
        <nav class="navbar navbar-light justify-content-between user-header">
            {{ knp_pagination_filter(pagination, {'u.id': 'id', 'u.username': 'User Name', 'u.email': "Email", 'u.role': "Role", "u.isEnabled":"Status"}) }}
        </nav>
        <div class="container-fluid user-indent">
            <div class="col col-lg-12 user-creator user-header">
                <table data-token="{{ csrf_token("intention") }}" class="table table-responsive-lg users-table">
                    <tbody>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'id' , 'u.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'User Name' , 'u.username') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Email' , 'u.email') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Role' , 'u.role') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Confirmation Token', 'u.confirmationToken') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Status' , 'u.isEnabled') }}</th>
                            <th></th>
                        </tr>
                        {% for user in pagination %}
                            <tr class="user-row"  data-id="{{ user.id }}">
                                <td scope="row">{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td class="email">{{ user.email }}</td>
                                <td class="role"> {{ user.role }} </td>
                                <td class="confirm-token">{{ user.confirmationToken }}</td>
                                {% if user.enabled == true %}
                                    <td class="status">Active</td>
                                    <td><button type="button" class="btn btn-outline-danger button-size btn-block">Block</button></td>
                                {% else %}
                                    <td class="status">Blocked</td>
                                    <td><button type="button" class="btn btn-outline-success button-size btn-unblock">Unblock</button></td>
                                {% endif %}
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
            <div class="navbar text-color" >
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </nav>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("static/scripts/admin/user_manager.js?v1.15") }}"></script>
{% endblock %}