{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/index.css") }}"
{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="col-12 align-self-center question-handler">
                <h1 class="text-white text-center indent">Quiz</h1>
                {% for quiz in  pagination %}
                <div class="container-fluid answer-wrapper">
                    <a href="{{ path('_quiz', {'id': quiz.id}) }}" class="text-white">
                            <h5>{{ quiz.name }}</h5></a>
                        <div class="row">
                            <div class="col">Question:{{ quiz.countOfQuestions }}</div>
                            <div class="col">Players:{{ quiz.countOfPlayers }}</div>
                            <div class="col">Leader:{{ quiz.leader }}</div>
                        </div>
                    </div>
                {% endfor %}
                <div class="navbar text-color" >
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}

{% endblock %}
