{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/index.css?v1.0") }}"
{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid">
            <div class="col-12 align-self-center quizes">
                {% for quiz in  pagination %}
                <div class="container-fluid quiz">
                    <a href="{{ path('_quiz', {'id': quiz.id}) }}  " class="text-white">
                            <h5>{{ quiz.name }}</h5>
                        <div class="row">
                            <div class="col">questions: {{ quiz.countOfQuestions }}</div>
                            <div class="col">players: {{ quiz.countOfPlayers }}</div>
                            <div class="col">leader: {{ quiz.leader }}</div>
                        </div>
                    </div>
                {% endfor %}
                <div class="navbar text-color" >
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}

{% endblock %}
