{% extends 'base.html.twig' %}

{% trans_default_domain "translations" %}

{% block title %}
    Homepage
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/homepage/homepage.css?v1.21") }}"
{% endblock %}

{% block body %}
    <main>
        <div class="container quizzes">
            <div class="col-12 align-self-center quizzes-content">
                {{ form_start(form) }}
                {{ form_widget(form, {"attr": {"class": "form-control", "placeholder": "homepage.search_placeholder"}}) }}
                {{ form_end(form) }}
                {% if started_quizzes|length %}
                {% for started_quiz in started_quizzes %}
                {% if started_quiz.quiz.enabled %}
                <div class="container-fluid quiz active">
                    <a href="{{ path('_quiz', {'id': started_quiz.quiz.id}) }}"  class="text-white">
                        {% else %}
                        <div class="container-fluid quiz not-active">
                            <a class="text-white not-active">
                                {% endif %}
                                <h5>{{ started_quiz.quiz.name }}</h5>
                                <div class="row">
                                    <div class="col">{{ "started_quizzes_page.start_time"|trans }}{{ started_quiz.startTime|date("Y:m:d H:i:s") }}</div>
                                    <div class="col">{{ "started_quizzes_page.right_answers"|trans }}{{ started_quiz.rightAnswers }}</div>
                                    <div class="col">{{ "started_quizzes_page.last_question_number"|trans }}{{ started_quiz.lastQuestionNumber }}/{{ started_quiz.quiz.countOfQuestions }}</div>
                                    <div class="col">
                                        {{ "homepage.status"|trans }}
                                        {% if started_quiz.quiz.enabled %}
                                            {{ "homepage.status_activated"|trans }}
                                        {% else %}
                                            {{ "homepage.status_deactivated"|trans }}
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                        {% else %}
                            <h3 class="not-found">{{ "homepage.not_found"|trans }}</h3>
                        {% endif %}
                        <div class="navbar text-color">
                            {{ knp_pagination_render(started_quizzes) }}
                        </div>
                </div>
            </div>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}
