{% extends 'base.html.twig' %}

{% trans_default_domain "translations" %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/quiz/startedQuiz.css?v1.23") }}">
    <link rel="stylesheet" href="{{ asset("static/styles/quiz/answered.question.css?v1.0") }}"
{% endblock %}

{% block body %}

    <div class="container content">
        <div  class="col-8 align-self-center question">
            <div class="question-header">
                <h2>{{ "quiz.question.question_label"|trans }}:</h2>
                <h4 class="question-text">{{ question_name }}</h4>
            </div>
            {% for answer in answers %}
                {% if user_choice.id == answer.id and user_choice.isCorrect == false %}
                    <div class="answer incorrect">{{ answer.name }}</div>
                {% elseif answer.isCorrect %}
                    <div class="answer correct">{{ answer.name }}</div>
                {% else %}
                    <div class="answer">{{ answer.name }}</div>
                {% endif %}

            {% endfor %}
            <a class="btn btn-large next-btn" href="{{ path('_quiz', {'id': id}) }}" >Next Question</a>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}