{% extends 'base.html.twig' %}

{% trans_default_domain "translations" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/quiz/leader_board.css?v1.1") }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-12 rating bg-color">
            <div class="container-fluid quiz-indent">
                <h1 class="text-white text-center">{{ "leaderboard.label"|trans }}</h1>
                <div class="col col-lg-12 leader-board">
                    <table class="table table-responsive-lg leader-board-table">
                        <tbody>
                        <tr>
                            <th scope="col">{{ "leaderboard.position"|trans }}</th>
                            <th scope="col">{{ "leaderboard.name"|trans }}</th>
                            <th scope="col">{{ "leaderboard.right_answers"|trans }}</th>
                            <th scope="col">{{ "leaderboard.time"|trans }}</th>
                        </tr>
                        {% for leader in leaders %}
                            <tr>
                                <td scope="row">{{ loop.index }}</td>
                                <td class="quiz_td">{{ leader.user.username }}</td>
                                <td class="quiz_td">{{ leader.rightQuestions }}</td>
                                <td class="quiz_td">{{ leader.time|date("%Y years:%M month:%D days:%H hours:%I minutes:%s seconds") }}</td>
                            </tr>
                        {% endfor  %}
                        </tbody>
                    </table>
                </div>
                <h3 class="text-white text-center">Your position</h3>
                <div class="col col-lg-12 user-position">
                    <table class="table table-inverse user-position-table">
                        <tbody>
                            <tr>
                                <th scope="col">{{ "leaderboard.position"|trans }}</th>
                                <th scope="col">{{ "leaderboard.name"|trans }}</th>
                                <th scope="col">{{ "leaderboard.right_answers"|trans }}</th>
                                <th scope="col">{{ "leaderboard.time"|trans }}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="{{ path("homepage") }}" style="color: white; text-align: center;" class="btn btn-large btn-main-page">Go To Main Page</a>
        </div>
    </div>
{% endblock %}