{% extends 'base.html.twig' %}


{% trans_default_domain "translations" %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("static/styles/quiz/startedQuiz.css?v1.1") }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-8 align-self-center question">
            <div class="answered-questions">

            </div>
            <h2 class="question-name">
                {{ question.name }}
            </h2>
            {% for answer in question.answers %}
                <div class="answer" data-id="{{ answer.id }}">
                    {{ answer.name }}
                </div>
            {% endfor %}
            <button class="btn btn-large submit-btn">Submit</button>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset("static/scripts/quiz/quiz.answer.js?v1.0") }}"></script>
{% endblock %}