<html>

<head>
    <link rel="stylesheet" href="{{ asset("static/styles/login.css") }}">
    <link rel="stylesheet" href="{{ asset("static/styles/bootstrap.css") }}">
</head>
<body>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div class="parent">
    <div class="child">
        <div class="text">
        <p>Login to access your account</p>
        </div>
<form action="{{ path('login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ lastUsername }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button id="login" class="btn btn-large btn-block btn-primary" type="submit">login</button>
</form>
    </div>
</div>
</body>
</html>