{% trans_default_domain "translations" %}


<nav class="navbar navbar-light justify-content-between {{ entityName }}-header ">
    {{ knp_pagination_filter(pagination, filterableFields) }}
</nav>
<input type="hidden" id="csrf-token" value="{{ csrf_token("intention") }}">
<table class="table table-responsive-lg">
    <tbody>
        <tr>
            {% for key, translation in tableFields %}
                {% if key in sortableFields %}
                    <th>{{ knp_pagination_sortable(pagination, translation|trans , "entity."~key) }}</th>
                {% else %}
                    <th>{{ key }}</th>
                {% endif %}
            {% endfor %}
                <th></th>
        </tr>

        </tr>
            {% for entity in pagination %}
                <tr class="{{ entityName }}-row" data-id="{{ entity.id }}">
                {% for tableField, translation in tableFields %}
                    <td class="{{ entityName }}-{{tableField}}">{{ attribute(entity, "get"~tableField) }}</td>
                {% endfor %}
                    {% if buttonField %}
                        <td>
                            {% if buttonField.condition %}
                                {% if attribute(entity, "get"~buttonField.field) == buttonField.equals %}
                                    {% if buttonField.true_condition %}
                                        <button class="{{ buttonField.true_condition.class_name }}">{{ buttonField.true_condition.label|trans}}</button>
                                    {% endif %}
                                {% else %}
                                    {% if buttonField.false_condition %}
                                        <button class="{{ buttonField.false_condition.class_name}}">{{ buttonField.false_condition.label|trans }}</button>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <button class="{{ buttonField.class_name }}">{{ buttonField.label|trans }}</button>
                            {% endif %}
                        </td>
                    {% endif %}
            {% endfor%}

        </tr>
    </tbody>
</table>
<div class="navbar text-color" >
    {{ knp_pagination_render(pagination) }}
</div>