{% trans_default_domain "translations" %}

<html>
<head>
    <link rel="stylesheet" href="{{ asset("static/styles/register.css") }}">
    <link rel="stylesheet" href="{{ asset("static/styles/bootstrap.min.css") }}">

</head>
    <body>
        <div class="parent">
                <h5 class="login-header" style="text-align: center"><p style="margin-right: 7px;">{{ 'security.registration.registration_label'|trans }}</p></h5>
            <form action="{{ path('registration') }}" method="POST">
                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Insert email'} }) }}
                        {{ form_errors(form.email, {'attr': {'class':'register-error'}}) }}
                        <div class="help-block">{{ 'security.registration.help_blocks.email'|trans }}</div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'insert Username'} }) }}
                        {{ form_errors(form.username, {'attr': {'class':'register-error'}}) }}
                        <div class="help-block">Type username, that's help you to log in</div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Insert password'} }) }}
                        {{ form_errors(form.plainPassword.first, {'attr': {'class':'register-error'}}) }}
                        <div class="help-block">Choose a password for your new account.</div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirm password'} }) }}
                        {{ form_errors(form.plainPassword.second, {'attr': {'class':'register-error'}}) }}
                        <div class="help-block">Type the password again. Passwords must match.</div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.firstname) }}
                        {{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Type firstname'} }) }}
                        {{ form_errors(form.firstname, {'attr': {'class':'register-error'}}) }}
                        <div class="help-block">Type the your firstname.</div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'Type firstname'} }) }}
                        {{ form_errors(form.lastname, {'attr': {'class':'register-error'}}) }}
                        <div class="help-block">Type the your lastname.</div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.middlename) }}
                        {{ form_widget(form.middlename, { 'attr': {'class': 'form-control', 'placeholder': 'Type firstname'} }) }}
                        {{ form_errors(form.firstname, {'attr': {'class':'register-error'}}) }}
                        <div class="help-block">Type the your middlename.</div>
                    </div>

                    {{ form_rest(form) }}
                        <input type="hidden" name="isEmpty" value="">
                        <input id="login" class="btn btn-large" type="submit" value="{{ 'registration.submit'|trans }}">
            </form>
        </div>
    </body>
</html>
